body {
    font-family:"Helvetica", "Arial", sans-serif;
    font-size: 10pt;
}
abbr {
    text-decoration: none;
    border: 0;
    font-style: normal;
}

h2 {
    color: #333;
    margin-top: 40px;
}
dt {
    color: #666;
}
dd {
    color: #777;
}
