body {
    font-family:"Helvetica", "Arial", sans-serif;
    background-color: #fff;
    color: #000;
}

table {
    margin: auto;
    border: 1px solid #699;
}
caption {
    margin: auto;
    padding: .2em;
    font-size: 1.2em;
    font-weight: bold;
}
th {
    font-weight: normal;
    font-style: italic;
    text-align:left;
    border: 1px dotted #699;
    background-color: #9cc;
    color:#000;
}
th,td {
    width:10em;
    padding: .5em;
}
/*如果浏览器支持伪类，那么响应事件，以下样式即可实现；如果不支持，可用 DOM 处理，详看09-09-highlightRows.js*/
/*tr:hover {
    font-weight: bold;
}*/
/*如果浏览器支持 CSS3，区分奇偶行颜色，以下样式即可实现；如果不支持，可用 DOM 处理，详看09-stripeTables.js*/
/*
tr:nth-child(odd) {
    background-color: #ffc;
}
tr:nth-child(even) {
    background-color: #fff;
}*/
