div {
    width: 800px;
    height: 800px;
    background-color: lightskyblue;
    border: 1px solid #68a2fa;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    box-sizing: border-box;
}

hr {
    background-color: #68a2fa;
}